@media(max-width:768px){

	*{
		
	}

	.navbar{
		height: 120px;
	}

	.navbar .logo{
		display: none;
	}

	.scrolled.navbar .logo{
		display: none;
	}

	.scrolled.navbar {
		height: 120px;
	}

	.navbar .nav{
		width: 100%;
		margin-right: 0;
	}

	.navbar .nav .item{
		padding: 0;
		line-height: 1;
		
	}

	.scrolled.navbar .nav .item{
		line-height: 1;
	}

	.navbar .nav .item a{
		font-size: 14px;
	}

	.navbar .nav .item1{
		background-image: url(../images/home.png);
		height: 200px;
		width: 200px;
	}

	.navbar .nav .item a img{
	  display: block;
	  margin-top: 0.5em;
	  width: 80px;
	  height: 80px;
	}

	#home{
		background-color: #939393;
		background-image: none;
	}

	.fade p{
		margin-left: 0;
		margin-top: 25%;
		
	}

	.main p{
		font-size: 50px;
	}

	.mainInfo{
		width: 70%;
		margin-left: 15%;
		padding-top: 35%;
	}

	.down-arrow{
		margin: 0% auto;
	}

	.heading{
		padding-top:19%;
	}

	.row .likes img{
		height: 130px;
		margin:10% 0 1% 0;
	}

	.row .likes{
		height: 200px;
	}

	#work{
		height: 1200px;
	}

	.overlay{
		background-image: none;
	}

	.work1,.work2{
		clear: both;
		width: 80%;
		margin-left:10%;
	}

	.work1,.work2{
		
	}	

	.imgOverlay{
		opacity: 0.9;
		border:4px solid #919191;
	}

	#skills{
		height: auto;
		padding: 1% 8%;
	}

	#skills img{
	  height: 30%;
	  width: 25%;
	  margin: 2.5% 3% 8% 3%; 
	}

	#skills .small{
	  height: 22%;
	  width: 18%;
	}

	#skills .side{
	  margin: 2.5% 3% 8% 3%;
	}

	.siteInfo{
  		font-size: 16px;
  	}

  	#contact h3, #contact h3 span{
  		font-size:30px;
  	}

  	.social img{
  		box-shadow: none;
  	}

  	#contact h1{
  		font-size: 55px;
  	}

  	footer p{
		padding: 2%;
	}
}