@media(max-width:320px){

	*{
		font-size: 16px;
		
	}

	.navbar .nav .item{
		margin-right: 0.2%;
	}
	
	.navbar .nav .item a img{
	  margin-top: 0.5em;
	  width: 60px;
	  height: 60px;
	}	

	.main p{
		font-size: 28px;
	}

	.fade p{
		margin-top: 40%;
	}

	.down-arrow{
		margin: -12% auto;
	}

	.heading{
		padding-top:30%;
		font-size: 28px;
	}

	.row .likes img{
		height: 120px;
	}

	.row .likes{
		height: 190px;
	}

	.siteInfo{
  		font-size: 10px;
  		height: 30px;
  	}

  	#contact h3, #contact h3 span{
  		font-size:21px;
  	}

  	#contact h1{
  		font-size: 40px;
  	}

  	footer{
  		height: 50px;
  	}

  	footer p{
		padding-top: 4%;
		font-size: 13px;
		padding-left: 1%;
		padding-right: 1%;
	}

	footer p span{
		font-size: 10px;	
	}

}