@media(max-width:1024px){

	*{
		-webkit-margin-before:0px;
		-webkit-padding-start:0px;
		font-size: 18px;
	}

	.logo, nav{
		height: 75px;
	}

	.logo p{
		font-size: 35px;
		padding-left: 8%;
		padding-top: 3%;

	}

	.navbar .logo{
		width:40%;
	}

	.logo p span{
		font-size: 40px;
	}

	.header #nav ul li{
		font-size: 21px;
		padding: 6% 2.5%;
	}

	.main p{
		font-size: 45px;
		margin-top: 15%;
	}

	.mainInfo{
		width: 50%;
		margin-left: 5%;
		font-size: 19px;
		padding-top: 20%;
	}

	.heading{
		padding-top: 9%;
	}

	#about{
		padding-bottom: 4%;
	}

	.row .likes img{
		width: 60%;
	}
}